@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

:root {
    --dark-primary-color: #303f9f;
    --default-primary-color: #3f51b5;
    --light-primary-color: #c5cae9;
    --text-primary-color: #ffffff;
    --accent-color: #4caf50;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --divider-color: #bdbdbd;
}

body {
    /* background-color: var(--accent-color); */
    background-color: #21D4FD;
    background-image: linear-gradient(0deg, #21D4FD 0%, #B721FF 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Merriweather", serif;
    font-size: 22px;
    color: var(--text-primary-color);
}