@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

:root {
    --dark-primary-color: #303f9f;
    --default-primary-color: #3f51b5;
    --light-primary-color: #c5cae9;
    --text-primary-color: #ffffff;
    --accent-color: #4caf50;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --divider-color: #bdbdbd;
}

body {
    background-color: var(--accent-color);
    font-family: "Merriweather", serif;
    font-size: 22px;
    color: var(--text-primary-color);
}

.navbar {
    display: flex;
    background-color: #3f51b5;
    border-radius: 12px;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 4px;
}

.navbar #brand-logo {
    width: 50px;
    height: 50px;
}

.navbar > li:not(:first-child) {
    padding: 10px;
}

.navbar > li > a {
    text-decoration: none;
    color: var(--text-primary-color);
}

.navbar .nav-right {
    margin-left: auto;
}

.navbar [data-testid="DarkModeIcon"] {
    padding: 4px;
    background-color: var(--light-primary-color);
    border-radius: 4px;
    color: var(--primary-text-color);
    cursor: hand;
}
